<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/chitietsanpham.css">
</head>
<body>
    <header class=" d-flex justify-content-between container col-8 m-auto pt-3">
        <div class="col-3 left-menu">
            <img src="../images/Layout/Logo.png" alt="logo">
        </div>
        <div class="right-menu">
            <ul class=" d-flex justify-content-between align-items-center ">
                <li class="item"><a href="">TRANG CHỦ</a></li>
                <li class="item"><a href="">GIỚI THIỆU</a></li>
                <li class="item"><a href="">SẢN PHẨM</a></li>
                <li class="item"><a href="">TIN TỨC</a></li>
                <li class="item"><a href="">LIÊN HỆ</a></li>
            </ul>
        </div>
    </header>
    <section class="content">
        <section class="col-8 m-auto justify-content-between">
            <p class="direction blur">Trang chủ > Sản phẩm > Chi tiết sản phẩm</p>
            <div class="first d-flex justify-content-between">
                <div class="first-left col-7 d-flex align-items-center justify-content-between">
                    <div class="column align-items-center justify-content-center">
                        <div class="next-btn m-auto">
                            <img class="pb-2" src="../images/Chitietsanpham/Next_up.png" alt="">
                        </div>
                        <div class="thumbnail"><img src="../images/Chitietsanpham/product01_02.png" alt=""></div>
                        <div class="thumbnail"><img src="../images/Chitietsanpham/product01_03.png" alt=""></div>
                        <div class="thumbnail"><img src="../images/Chitietsanpham/product01_04.png" alt=""></div>
                        <div class="next-btn m-auto"><img src="../images/Chitietsanpham/next_down.png" alt=""></div>
                    </div>
                    <div class="main-product">
                        <img class="pb-2" src="../images/Chitietsanpham/product01.png" alt="">
                    </div>
                </div>
                <div class="first-right col-4">
                    <h2>Trà Shan Tuyết</h2>
                        <div class="d-flex">
                            <div>
                                <img src="../images/Chitietsanpham/rate.png" alt="">
                            </div>
                            <div class="pl-2 pt-1">
                                <p class="blur"> 71 đánh giá</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <h2>50,000 VND</h2>
                            <select class="pl-2" name="weight" id="weight">
                                <option value="100g">100g</option>
                                <option value="200g">200g</option>
                                <option value="500g">500g</option>
                                <option value="1kg">1kg</option>
                            </select>
                            <!-- <p class="pt-3 pl-5 blur"> 200g <i class="fa-solid fa-angle-down blur"></i> </p> -->
                        </div>
                        <p class="pt-2 description"> <b> SẢN PHẨM ĐẠT CHUẨN CHÈ NGON GIÁ RẺ</b></p>
                        <p class="pt-2 description blur">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, ex omnis. Doloribu </p>
                        <p class="pt-2 description blur">Lorem, ipsum 2olor sit amet consectetur adipisicing elit. Enim, </p>
                        <p class="pt-2 description blur">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, ex omnis. Doloribus non facilis molestiae itaque </p>
                </div>
            </div>
            <div class="second d-flex justify-content-between pb-4">
                <div class="second-left col-3 pt-5">
                    <h1>Hướng dẫn pha Trà Shan Tuyết</h1>
                    <div class="d-flex pt-4 align-items-center">
                        <img class="icon m-2" src="../images/chitietsanpham/icon_01.png" alt="">
                        <p class="pt-3">Đổ vào ấm từ 150-200ml, nước sôi nhiệt độ 85<sup>o</sup>C</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="icon m-2" src="../images/chitietsanpham/icon_02.png" alt="">
                        <p class="pt-3">Đổ vào ấm từ 150-200ml</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="icon m-2" src="../images/chitietsanpham/icon_03.png" alt="">
                        <p class="pt-3"> nước sôi nhiệt độ 85<sup>o</sup>C</p>
                    </div>
                </div>
                <div class=" second-right col-7">
                    <img src="../images/Chitietsanpham/instruction.png" alt="">
                </div>
            </div>
        </section>
    </section>
    <section class="relative-product col-8 m-auto">
                <h1 class="text-center pb-5">SẢN PHẨM LIÊN QUAN</h1>
                <div class="list-product d-flex justify-content-between pb-5">
                    <div class="product position-relative">
                        <div class="rating"><img src="../images/Chitietsanpham/rating.png" alt=""></div>
                        <div class="badges position-absolute">
                            <span>New</span>
                        </div>
                        <div>
                            <img src="../images/Chitietsanpham/product02.png" alt="">
                        </div>
                        <div class="detail">
                            <h4 class="text-center">Trà Búp</h4>
                                <div class="product-information d-flex justify-content-center">
                                <div class="price d-flex">
                                <h4>70,000</h4><span class="currency-unit">VND</span>
                                </div>
                                <select class="pl-2" name="weight" id="weight">
                                    <option value="100g">100g</option>
                                    <option value="200g">200g</option>
                                    <option value="500g">500g</option>
                                    <option value="1kg">1kg</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="product position-relative">
                        <div class="rating"><img src="../images/Chitietsanpham/rating.png" alt=""></div>
                        <div class="badges position-absolute">
                            <span>New</span>
                        </div>
                        <div>
                            <img src="../images/Chitietsanpham/product03.png" alt="">
                        </div>
                        <div class="detail">
                            <h4 class="text-center">Trà Búp</h4>
                                <div class="product-information d-flex justify-content-center">
                                <div class="price d-flex">
                                <h4>70,000</h4><span class="currency-unit">VND</span>
                                </div>
                                <select class="pl-2" name="weight" id="weight">
                                    <option value="100g">100g</option>
                                    <option value="200g">200g</option>
                                    <option value="500g">500g</option>
                                    <option value="1kg">1kg</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="product position-relative">
                        <div class="rating"><img src="../images/Chitietsanpham/rating.png" alt=""></div>
                        <div class="badges position-absolute">
                            <span>New</span>
                        </div>
                        <div>
                            <img src="../images/Chitietsanpham/product04.png" alt="">
                        </div>
                        <div class="detail">
                            <h4 class="text-center">Trà Búp</h4>
                                <div class="product-information d-flex justify-content-center">
                                <div class="price d-flex">
                                <h4>70,000</h4><span class="currency-unit">VND</span>
                                </div>
                                <select class="pl-2" name="weight" id="weight">
                                    <option value="100g">100g</option>
                                    <option value="200g">200g</option>
                                    <option value="500g">500g</option>
                                    <option value="1kg">1kg</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="product position-relative">
                        <div class="rating"><img src="../images/Chitietsanpham/rating.png" alt=""></div>
                        <div class="badges position-absolute">
                            <span>New</span>
                        </div>
                        <div>
                            <img src="../images/Chitietsanpham/product05.png" alt="">
                        </div>
                        <div class="detail">
                            <h4 class="text-center">Trà Búp</h4>
                                <div class="product-information d-flex justify-content-center">
                                <div class="price d-flex">
                                <h4>70,000</h4><span class="currency-unit">VND</span>
                                </div>
                                <select class="pl-2" name="weight" id="weight">
                                    <option value="100g">100g</option>
                                    <option value="200g">200g</option>
                                    <option value="500g">500g</option>
                                    <option value="1kg">1kg</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
        
    <footer>
        <div class="col-8 m-auto d-flex justify-content-between align-items-center ">
            <div class="information">
                <div>
                    <img src="../images/Layout/Logo.png" alt="logo">
                </div>
                <div class="detail pt-3">
                    <div>
                    <a href="">0963210895</a>
                    </div>
                    <div>
                    <a href="">trungtien112003@gmail.com</a>
                    </div>
                    <div>
                    <a href="">C12,TT Kim Liên, Đống Đa, Hà Nội</a>
                    </div>
                </div>
            </div>
            <div class="information">
                <div>
                    <h4>VỀ CHÚNG TÔI</h4>
                </div>
                <div class="detail pt-3">
                    <div>
                    <a href="">Giới thiệu</a>
                    </div>
                    <div>
                    <a href="">Sản phẩm</a>
                    </div>
                    <div>
                    <a href="">Tin tức</a>
                    </div>
                </div>
            </div>
            <div class="information">
                <div>
                    <h4>LIÊN HỆ</h4>
                </div>
                <div class="detail">
                    <div class="d-flex ">
                        <a class="pr-2" href="">
                        <i class="fa-brands icon fa-youtube"></i>
                        </a>
                        <a class="pr-2" href="">
                            <i class="fa-brands icon fa-instagram"></i>
                        </a>
                        <a class="pr-2" href="https://www.facebook.com/trung.tien.52090/">
                            <i class="fa-brands icon fa-square-facebook"></i>
                        </a>
                    </div>
                    <div>
                    <a href="">Copyright 2010-2020</a>
                    </div>
                    <div>
                    <a href="">EC.All rights reserved</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>