<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/gioithieu.css">

</head>
<body>
    <header class=" d-flex justify-content-between container col-8 m-auto pt-3">
        <div class="col-3 left-menu">
            <img src="../images/Layout/Logo.png" alt="logo">
        </div>
        <div class="right-menu">
            <ul class=" d-flex justify-content-between align-items-center ">
                <li class="item"><a href="">TRANG CHỦ</a></li>
                <li class="item"><a href="">GIỚI THIỆU</a></li>
                <li class="item"><a href="">SẢN PHẨM</a></li>
                <li class="item"><a href="">TIN TỨC</a></li>
                <li class="item"><a href="">LIÊN HỆ</a></li>
            </ul>
        </div>
    </header>
    <section class="content pb-5">
        <img class="position-relative" src="../images/Gioithieu/banner.png" alt="banner">
        <div class=" title position-absolute">
            <img class="" src="../images/Gioithieu/title.png" alt="Title">
        </div>
        <div class="post col-8 m-auto pb-5">
            <h2 class="text-center">GIỚI THIỆU</h2>
            <p class="pt-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis cum quibusdam modi, magni provident asperiores maxime labore iure odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint similique impedit cupiditate! Commodi cupiditate a odio doloremque, exercitationem dolore voluptate quisquam, ullam reprehenderit labore sequi quasi rerum deleniti eveniet? Dolorum.</p>
            <p class="pt-3 text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ipsum officiis amet quam nam et ex quae,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque libero aliquid pariatur sunt ipsam obcaecati sit veritatis dolorum commodi. Recusandae dignissimos accusamus maxime optio numquam molestias quidem sunt id odio. .</p>
            <img src="../images/Gioithieu/post01.png" alt="">
            <p class="pt-3 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, cum quibusdam architecto sed placeat quas deleniti fuga? Velit officia labore saepe, hic, tenetur in, quam neque non accusantium a cum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga numquam maiores iure eaque repellendus maxime molestias illo inventore aperiam sapiente. Quibusdam aperiam, fugiat quasi reprehenderit odio illo maiores eligendi ad?</p>
            <p class="pt-3 text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis in porro commodi nulla ullam odio dolores voluptatibus expedita libero dolore repellat vitae praesentium mollitia voluptatem necessitatibus voluptate, aspernatur accusantium? Temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vitae voluptatibus animi omnis molestias excepturi quaerat, quo repellat dolor nulla nostrum voluptate in aut illum, numquam veniam, maiores sunt eius.</p> 
            <img src="../images/Gioithieu/post02.png" alt="">   
        </div>
    </section>
    <footer>
        <div class="col-8 m-auto d-flex justify-content-between align-items-center ">
            <div class="information">
                <div>
                    <img src="../images/Layout/Logo.png" alt="logo">
                </div>
                <div class="detail pt-3">
                    <div>
                    <a href="">0963210895</a>
                    </div>
                    <div>
                    <a href="">trungtien112003@gmail.com</a>
                    </div>
                    <div>
                    <a href="">C12,TT Kim Liên, Đống Đa, Hà Nội</a>
                    </div>
                </div>
            </div>
            <div class="information">
                <div>
                    <h4>VỀ CHÚNG TÔI</h4>
                </div>
                <div class="detail pt-3">
                    <div>
                    <a href="">Giới thiệu</a>
                    </div>
                    <div>
                    <a href="">Sản phẩm</a>
                    </div>
                    <div>
                    <a href="">Tin tức</a>
                    </div>
                </div>
            </div>
            <div class="information">
                <div>
                    <h4>LIÊN HỆ</h4>
                </div>
                <div class="detail">
                    <div class="d-flex ">
                        <a class="pr-2" href="">
                        <i class="fa-brands icon fa-youtube"></i>
                        </a>
                        <a class="pr-2" href="">
                            <i class="fa-brands icon fa-instagram"></i>
                        </a>
                        <a class="pr-2" href="https://www.facebook.com/trung.tien.52090/">
                            <i class="fa-brands icon fa-square-facebook"></i>
                        </a>
                    </div>
                    <div>
                    <a href="">Copyright 2010-2020</a>
                    </div>
                    <div>
                    <a href="">EC.All rights reserved</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
